<div class='editer-groupe'>

#SET{name,date_depublication}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
<div class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
	<label for="#GET{name}">[(#ENV{_label_date_depublication})]</label>[
	<span class='erreur_message'>(#GET{erreurs})</span>
	]
	<span class="affiche"[(#ENV{_saisie_en_cours}|et{#ENV{_editer_date}}|oui)style="display:none;"]>
		[(#ENV{aucune_date_depublication}|?{<:depublication:aucune_date_definie:>,[(#ENV*{afficher_#GET{name}}|affdate)]})]
		[(#ENV{a_ete_depublie}|oui)<span class='depublication_done'><:depublication:depublication_automatique_effectuee:></span>]
	</span>
[(#ENV{editable})
	<span class="input[(#ENV{_editer_date}|oui)editable]"[(#ENV{_saisie_en_cours}|et{#ENV{_editer_date}}|non)style="display:none;"]>
		<input type="text" class="text date" name="#GET{name}_jour" id="#GET{name}_jour" value="#ENV{#GET{name}_jour}" size="10"/>
		<input type="text" class="text heure time" name="#GET{name}_heure" id="#GET{name}_heure" value="#ENV{#GET{name}_heure}" size="5"/>
	</span>
]
</div>

<BOUCLE_editable(CONDITION){si #ENV{editable}}>
#SET{name,statut_depublication}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
<div class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]"[(#ENV{_saisie_en_cours}|non)style="display:none;"]>
	<label for="#GET{name}">[(#ENV{_label_statut_depublication})]</label>[
	<span class='erreur_message'>(#GET{erreurs})</span>
	]

	<select class="select statut" name="#GET{name}">
		[(#ENV{_statuts/#ENV{#GET{name}}}|non)
			<option value="#ENV{#GET{name}}">&nbsp;&nbsp;&nbsp;#ENV{#GET{name}}</option>
		]
	
		<BOUCLE_choix(DATA){source tableau, #ENV{_statuts}}>
			<option value="#CLE"[(#ENV{#GET{name}}|=={#CLE}|oui)selected="selected"]
				style="background-image:url([(#CLE|puce_statut{#ENV{objet}}|extraire_attribut{src})]);">&nbsp;&nbsp;&nbsp;[(#VALEUR|_T)]</option>
		</BOUCLE_choix>
	</select>
</div>
</BOUCLE_editable>
</div>
