
<style type='text/css'>
table { width:100%; text-align: left; margin:1em;  }
th { border-bottom:3px solid #ddd; }
td { border-bottom:1px solid #ddd; }
</style>

<h1>Dépublication</h1>

#SET{nb,#ENV{nb,5}}

<h2>Boucle standard</h2>

<B_std>
	<strong>#GRAND_TOTAL articles</strong>
	<table>
		<tr>
			<th>id</th>
			<th>Statut</th>
			<th>Date</th>
			<th>Titre</th>
		</tr>
<BOUCLE_std(ARTICLES){pagination #GET{nb}}{!par date}>
		<tr>
			<td><a href="#URL_ARTICLE">#ID_ARTICLE</a></td>
			<td>#STATUT</td>
			<td>[(#DATE|affdate)]</td>
			<td>#TITRE</td>
		</tr>
</BOUCLE_std>
	</table>
</B_std>


<h2>Boucle avec critère <code>{depublies}</code></h2>

<B_depublies>
	<strong>#GRAND_TOTAL articles</strong>
	<table>
		<tr>
			<th>id</th>
			<th>Statut</th>
			<th>Date</th>
			<th>Titre</th>
		</tr>
<BOUCLE_depublies(ARTICLES){depublies}{pagination #GET{nb}}{!par date}>
		<tr>
			<td><a href="#URL_ARTICLE">#ID_ARTICLE</a></td>
			<td>#STATUT</td>
			<td>[(#DATE|affdate)]</td>
			<td>#TITRE</td>
		</tr>
</BOUCLE_depublies>
	</table>
</B_depublies>



<h2>Boucle avec critère <code>{!depublies}</code></h2>

<B_non_depublies>
	<strong>#GRAND_TOTAL articles</strong>
	<table>
		<tr>
			<th>id</th>
			<th>Statut</th>
			<th>Date</th>
			<th>Titre</th>
		</tr>
<BOUCLE_non_depublies(ARTICLES){!depublies}{pagination #GET{nb}}{!par date}>
		<tr>
			<td><a href="#URL_ARTICLE">#ID_ARTICLE</a></td>
			<td>#STATUT</td>
			<td>[(#DATE|affdate)]</td>
			<td>#TITRE</td>
		</tr>
</BOUCLE_non_depublies>
	</table>
</B_non_depublies>
